### General ###
HELP.md
target/
*.DS_Store
*.log
/.metadata/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Properties and Config ###
src/main/resources/application.yml
src/main/resources/application.properties

### Docker ###
.dockerignore
docker-compose.override.yml

# Ignore SSH-related files
~/.ssh/*